body {
  background-color: grey
}
h1 {
  color: white;
  text-align: center;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.snowpic {
  background-img: url("seattle snow.jpg");
}
.trailpic {
  background-img: url("trail.jpg");
}
.shorepic {
  background-img: url("shore.jpg");
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.border {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}
