body {
  background-color: grey
}
h1 {
  color: white;
  text-align: center;
}

.parallax {
  position: relative;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.snowpic {
  background-image: url("seattle snow.jpg");
}
.trailpic {
  background-image: url("trail.jpg");
}
.shorepic {
  background-image: url("shore.jpg");
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.border {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}
.block{
  position:relative;
  color: 777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.subtitle{
  text-align:center;
}
.textfield{
}
